.container{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    
}
.container > *{
    width: 25%;
    background-color:rgb(247, 240, 241);
    margin: 0px;
    padding: 10px;
}
.btnb{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}