
    <!-- > -->
    <mat-card-header>
        <mat-toolbar class="toolbar">
            <mat-card-title  style="text-align: center;">Application Form</mat-card-title>
            <span class="toolbar-spacer"></span>
            <!-- <mat-icon>Cancel</mat-icon> -->
        </mat-toolbar> 
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="applyForm" (ngSubmit)="onSubmit()">
            
            <div class="container">
                <mat-form-field>
                    <input matInput placeholder="First Name" type="text" formControlName="firstname">
                    <mat-hint *ngIf="applyForm.controls.firstname.errors">First Name is required</mat-hint>
                </mat-form-field>
        
                <mat-form-field>
                    <input matInput placeholder="Last Name" formControlName="lastname">
                    <mat-hint *ngIf="applyForm.controls.lastname.errors">Last Name is required</mat-hint>
                </mat-form-field>
        
                <mat-form-field>
                    <input matInput placeholder="Student Number" type="number" formControlName="studentno">
                    <mat-hint *ngIf="applyForm.controls.studentno.errors">First Name is required</mat-hint>
                </mat-form-field>
        
                <mat-radio-group aria-label="Select Specialization" formControlName="specialization">
                <mat-radio-button value="Business Applications">Business Application</mat-radio-button>
                <mat-radio-button value="Software Development">Software Development</mat-radio-button>
                <mat-radio-button value="Web Applications">Web Applications</mat-radio-button>
                <mat-radio-button value="Multimedia">Multimedia</mat-radio-button>
        
                </mat-radio-group>
                <mat-hint *ngIf="applyForm.controls.specialization.errors">Specialization is required</mat-hint>
        
                <mat-form-field>
                    <input matInput placeholder="Email" formControlName="email">
                    <mat-hint *ngIf="applyForm.controls.email.errors">Email is required</mat-hint>
                </mat-form-field>
        
                <mat-form-field>
                    <input matInput placeholder="Cell Number" type="number" formControlName="mobileno">
                    <mat-hint *ngIf="applyForm.controls.mobileno.errors">Cell Number is required</mat-hint>
                </mat-form-field>
    
               
                
                
               
            </div>
            <div class="btnb">
                <button mat-flat-button color="primary" [disabled]="!applyForm.valid" type="submit">Apply</button>
            </div>
        </form>
       
    </mat-card-content>
