.container{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    
}
.container > *{
    width: 100%;
    background-color:rgba(255, 255, 255, 0.719);
    margin: 0px;
    padding: 10px;
}
.btnb{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}